<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- SITE TITLE -->
  <title>DentalClinic - Responsive Clinic HTML Template</title>

  <!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />

  <!-- =========================
     STYLESHEETS   
============================== -->

  <link rel="stylesheet" type="text/css" href="css/master.css" />
</head>

<body data-spy="scroll" data-target=".navbar">
  <div class="preloader" id="preloader"> <img src="images/preloader.gif" alt=""> </div>
  <!-- HEADER -->
  <%- include partials/header %>
  <!-- END HEADER -->

  <div id="slider" class="slider">
    <div class="sp-slides">

      <!-- HEADER SLIDER ITEM -->
      <div class="sp-slide"> <img class="sp-image" src="css/images/blank.gif" alt="" data-src="images/slide_01.jpg" />
        <div class="container">
          <h3 class="sp-layer slider-welcome" data-position="leftCenter" data-horizontal="15" data-vertical="-370"
            data-show-transition="left" data-hide-transition="left" data-show-delay="0" data-hide-delay="0">  </h3>
          <h1 class="sp-layer slider-title" data-position="leftCenter" data-horizontal="15" data-vertical="-230"
            data-show-transition="left" data-hide-transition="left" data-show-delay="200" data-hide-delay="200">  </h1>
          <h2 class="sp-layer slider-subtitle" data-position="leftCenter" data-horizontal="15" data-vertical="-120"
            data-show-transition="left" data-hide-transition="left" data-show-delay="400" data-hide-delay="400">  </h2>
          <p class="sp-layer slider-text" data-position="leftCenter" data-horizontal="15" data-vertical="80"
            data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="600">  </p>
          <p class="sp-layer slider-button" data-position="leftCenter" data-horizontal="15" data-vertical="300"
            data-show-transition="left" data-hide-transition="left" data-show-delay="800" data-hide-delay="800">
            <!--<a href="#" class="btn btn-primary">READ MORE</a>-->
          </p>
        </div>
      </div>

      <!-- HEADER SLIDER ITEM -->
      <div class="sp-slide"> <img class="sp-image" src="css/images/blank.gif" alt="" data-src="images/slide_02.jpg" />
        <div class="container">
          <h3 class="sp-layer slider-welcome" data-position="leftCenter" data-horizontal="15" data-vertical="-370"
            data-show-transition="left" data-hide-transition="left" data-show-delay="0" data-hide-delay="0">  </h3>
          <h1 class="sp-layer slider-title" data-position="leftCenter" data-horizontal="15" data-vertical="-230"
            data-show-transition="left" data-hide-transition="left" data-show-delay="200" data-hide-delay="200">  </h1>
          <h2 class="sp-layer slider-subtitle" data-position="leftCenter" data-horizontal="15" data-vertical="-120"
            data-show-transition="left" data-hide-transition="left" data-show-delay="400" data-hide-delay="400">  </h2>
          <p class="sp-layer slider-text" data-position="leftCenter" data-horizontal="15" data-vertical="80"
            data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="600">  </p>
          <p class="sp-layer slider-button" data-position="leftCenter" data-horizontal="15" data-vertical="300"
            data-show-transition="left" data-hide-transition="left" data-show-delay="800" data-hide-delay="800">
            <!--<a href="#" class="btn btn-primary">READ MORE</a>-->
          </p>
        </div>
      </div>

      <!-- HEADER SLIDER ITEM -->
      <div class="sp-slide"> <img class="sp-image" src="css/images/blank.gif" alt="" data-src="images/slide_03.jpg" />
        <div class="container">
          <h3 class="sp-layer slider-welcome" data-position="leftCenter" data-horizontal="15" data-vertical="-370"
            data-show-transition="left" data-hide-transition="left" data-show-delay="0" data-hide-delay="0">  </h3>
          <h1 class="sp-layer slider-title" data-position="leftCenter" data-horizontal="15" data-vertical="-230"
            data-show-transition="left" data-hide-transition="left" data-show-delay="200" data-hide-delay="200">  </h1>
          <h2 class="sp-layer slider-subtitle" data-position="leftCenter" data-horizontal="15" data-vertical="-120"
            data-show-transition="left" data-hide-transition="left" data-show-delay="400" data-hide-delay="400">  </h2>
          <p class="sp-layer slider-text" data-position="leftCenter" data-horizontal="15" data-vertical="80"
            data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="600">  </p>
          <p class="sp-layer slider-button" data-position="leftCenter" data-horizontal="15" data-vertical="300"
            data-show-transition="left" data-hide-transition="left" data-show-delay="800" data-hide-delay="800">
            <!--<a href="#" class="btn btn-primary">READ MORE</a>-->
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================
     END HEADER SLIDER
============================== -->

  <!-- =========================
     SERVICES
============================== -->
  <div class="serv" id="services">
    <ul id="isotope-filter">
      <% for (let service of services) { %>
      <li><a data-filter="*" data-service-id="<%= service._id %>"><%= service.nameDisplay %></a></li>
      <% } %>
    </ul>
  </div>
  <!-- =========================
     END SERVICES
============================== -->



  <!-- =========================
    BLOG
============================== -->
  <div class="blog">
    <div class="container">
      <div class="row">
        <h2 class="section-title">
          <span class="bold700">
            NEWS
          </span>
        </h2>
        <!--<p class="section-subtitle">We will always keep you informed about fresh news of our Dental clinic. Moreover, you will find useful articles about dental care,<br>
        the newest technologies in the treatment, oral hygiene, and interesting events related to dentistry and medicine in general. </p>-->
        <div class="blog-container">
          <div class="owl-blog" id="owl-blog">

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image">
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
              <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 12</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html"><br></a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text"></div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image">
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
                <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 12</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html"></a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text"></div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image">
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
                <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 12</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html"></a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text"></div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image">
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
                <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 12</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html"></a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text"></div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image">
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
                <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 12</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html"></a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text"></div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image">
                <!--<div class="blog-item-date"><i class="fa fa-calendar-o"></i> 03.10.2016</div>
                <div class="blog-item-comments"><i class="fa fa-comments-o"></i> 12</div>-->
              </div>
              <div class="blog-item-title">
                <h3><a href="detail.html"></a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>-->
              <div class="blog-item-text"></div>
              <!--<div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>

          </div>
          <!-- BLOG BUTTONS -->
          <div class="carousel-btn carousel-next" id="next-blog"><i class="fa fa-angle-right"></i></div>
          <div class="carousel-btn carousel-prev" id="prev-blog"><i class="fa fa-angle-left"></i></div>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================
    END BLOG
============================== -->


  <!-- =========================
    FOOTER
============================== -->
  <%- include partials/footer %>
  <!-- =========================
    END FOOTER
============================== -->

  <%- include partials/bookform %>
  <%- include partials/alert %>

  <div class="totop" id="totop"> <i class="fa fa-angle-up"></i> </div>

  <!-- =========================
    COLOR SWITHER
============================== -->
  <!--<div class="color-sw-open" id="color-sw-open"> <i class="fa fa-gear"></i> </div>
<div class="color-sw" id="color-sw">
  <div class="color-sw-header"> Style switcher
    <span class="color-sw-close" id="color-sw-close">
      <i class="fa fa-close"></i>
    </span>
  </div>
  <div class="color-sw-body">
    <p>Choose color style</p>
    <div class="color-sw-item active" id="blue">
      <div></div>
    </div>
    <div class="color-sw-item" id="violet">
      <div></div>
    </div>
    <div class="color-sw-item" id="red">
      <div></div>
    </div>
    <div class="color-sw-item" id="green">
      <div></div>
    </div>
  </div>
</div>-->
  <!-- =========================
    END COLOR SWITHER
============================== -->

  <link rel="stylesheet" type="text/css" href="css/responsive.css" />

  <!-- =========================
     SCRIPTS   
============================== -->
  <!-- JQUERY -->

  <!-- GOOGLE MAPS -->

  <!-- MY JAVASCRIPT -->
  <%- include resources/javascript %>
  <script src="/js/app-home.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


</body>

</html>