<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Creative Responsive Bootstrap Multi-Purpose HTML Template">
  <meta name="keywords"
    content="H2O, Creative, Agency, Portfolio, Freelancer, Shop, Store,Bootstrap, HTML, Template, One page">
  <meta name="author" content="Vadzim Liashkevich">

  <!-- SITE TITLE -->
  <title>DentalClinic - Responsive Clinic HTML Template</title>

  <!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

  <!-- =========================
     STYLESHEETS   
============================== -->

  <link rel="stylesheet" type="text/css" href="/css/master.css" />
</head>

<body data-spy="scroll" data-target=".navbar">
  <!-- HEADER -->
  <%- include partials/header %>
  <!-- END HEADER -->

  <!--<div class="page-title page-title-about bg-pattern" data-bgcolor="5295BD">
  <div class="page-title-overlay">
    <div class="container">
      <h1>DỊCH VỤ</h1>
      <p>Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental cosmetics and advanced restorative dentistry.</p>
    </div>
  </div>
</div>-->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li class="breadcrumb-home"><a href="#"><i class="fa fa-home"></i></a></li>
          <li class="active">Services</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="serv-items" id="isotope-items">
        <!-- template -->
        <% for (let post of posts) { %>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serv-item isotope-item dental">
          <div class="serv-item-image"> <img src="/images/serv1.jpg" alt=""> </div>
          <div class="serv-item-text">
            <h3><%= post.titleVie %></h3>
            <%- post.briefVie %>
            <div class="serv-item-button">
              <a
                href="<%= '/post/' + converter.getSlug(post.titleVie) + '?section=' + section + '&postId=' + post.id %>"
                class="btn btn-primary-1 btn-sm"
              >READ MORE</a>
            </div>
          </div>
        </div>
        <% } %>
        <!-- template -->
      </div>
      <ul class="pagination">
        <li>
          <a class="first" href="<%=
            page > 1
              ? '?categoryId=' + categoryId + '&section=' + section + '&page=' + (page - 1)
              : '#'
          %>"> <i class="fa fa-angle-left"></i> </a>
        </li>
        <% for (let i = 0; i < numberOfPages; i++) { %>
        <li>
          <a class="<%= (i + 1) === page ? 'active' : '' %>" href="<%=
            (i + 1) !== page
                ? '?categoryId=' + categoryId + '&section=' + section + '&page=' + (i + 1)
                : '#'
          %>"><%= (i + 1) %></a></li>
        <% } %>
        <!-- <li><a href="#">2</a></li>
        <li><a href="#">3</a></li> -->
        <li>
          <a class="last" href="<%=
            page < numberOfPages
              ? '?categoryId=' + categoryId + '&section=' + section + '&page=' + (page + 1)
              : '#'
          %>"> <i class="fa fa-angle-right"></i> </a>
        </li>
      </ul>
    </div>
  </div>


  <!-- =========================
    FOOTER
============================== -->
  <%- include partials/footer %>
  <!-- =========================
    END FOOTER
============================== -->

  <!-- =========================
    POPUP FORMS
============================== -->
  <!--<div class="bookform bookform-1" id="bookform1">
  <div class="bookform-left">
    <h2 class="section-title">
      <span class="bold700">
        BOOK APPOINTMENT
      </span>
    </h2>
    <form>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item f-doctor">
          <select id="form-doctor" class="form-doctor" name="form-doctor">
            <option value="1" selected="selected">Select doctor</option>
            <option value="2">Arnie Alban</option>
            <option value="3">Wyatt Esmond</option>
            <option value="4">Dustin Callahan</option>
            <option value="5">Kristin Weaver</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
          <input type="text" name="name1" id="name1" data-validation="required" placeholder="Your name" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item phone">
          <input type="text" name="phone1" id="phone1" data-validation="required" placeholder="Phone" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item email">
          <input type="text" name="email1" id="email1" placeholder="E-mail" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item date">
          <input type="text" class="datepicker-f" id="datepicker1" name="date1" data-validation="required" placeholder="Date" />
          <div class="help help-sm help-red">!</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 booking-form-item time-f">
          <input type="text" class="timepicker-f" id="timepicker1" name="time1" data-validation="required" placeholder="Time" />
          <div class="help help-sm help-red">!</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <textarea name="message1" id="message1" placeholder="Your message.."></textarea>
        </div>
      </div>
      <div class="row" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item honeypot">
          <label class="fl_label" for="last">Honeypot:</label>
          <input type="text" name="last" value="" id="last" class="form-control fl_input">
        </div>
      </div>
      <div class="row latest-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
          <button class="btn btn-primary">
            SUBMIT
          </button>
          <a class="fb-close" id="fb-close" href="javascript:jQuery.fancybox.close();">Cancel</a> </div>
      </div>
    </form>
  </div>
  <div class="bookform-right">
    <div class="bookform-right-info-1">
      <h5>Please select a doctor</h5>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    <div class="bookform-right-info-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
  </div>
</div>-->

  <!-- =========================
    END POPUP FORMS
============================== -->

  <div class="totop" id="totop"> <i class="fa fa-angle-up"></i> </div>

  <!-- =========================
    COLOR SWITHER
============================== -->
  <!--<div class="color-sw-open" id="color-sw-open"> <i class="fa fa-gear"></i> </div>
<div class="color-sw" id="color-sw">
  <div class="color-sw-header"> Style switcher
    <span class="color-sw-close" id="color-sw-close">
      <i class="fa fa-close"></i>
    </span>
  </div>
  <div class="color-sw-body">
    <p>Choose color style</p>
    <div class="color-sw-item active" id="blue">
      <div></div>
    </div>
    <div class="color-sw-item" id="violet">
      <div></div>
    </div>
    <div class="color-sw-item" id="red">
      <div></div>
    </div>
    <div class="color-sw-item" id="green">
      <div></div>
    </div>
  </div>
</div>-->
  <!-- =========================
    END COLOR SWITHER
============================== -->

  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />


  <!-- MY JAVASCRIPT -->
  <%- include resources/javascript %>

  <!-- GOOGLE MAPS -->
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIt0-3xYygh5jhA2YCRcEP9YsLO3mw0co&language=en&amp&sensor=true"></script>-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</body>

</html>