<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Creative Responsive Bootstrap Multi-Purpose HTML Template">
  <meta name="keywords"
    content="H2O, Creative, Agency, Portfolio, Freelancer, Shop, Store,Bootstrap, HTML, Template, One page">
  <meta name="author" content="Vadzim Liashkevich">

  <!-- SITE TITLE -->
  <title>DentalClinic - Responsive Clinic HTML Template</title>

  <!-- =========================
      FAV AND TOUCH ICONS  
============================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

  <!-- =========================
     STYLESHEETS   
============================== -->

  <link rel="stylesheet" type="text/css" href="/css/master.css" />
</head>

<body data-spy="scroll" data-target=".navbar">
  <div class="preloader" id="preloader"> <img src="/images/preloader.gif" alt="" /> </div>
  <!-- HEADER -->
  <%- include partials/header %>
  <!-- END HEADER -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li class="breadcrumb-home"><a href="#"><i class="fa fa-home"></i></a></li>
          <% for (let path of paths) { %>
          <li class="active"><%= path %></li>
          <% } %>
        </ol>
      </div>
    </div>
  </div>

  <!-- template -->
  <div class="container">
    <div class="row .serv-items">
      <div class="serv-items" id="isotope-items" style="position: relative; height: 1126px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 history-text">
          <h3><%= post.title %></h3>
          <%- post.contentDisplay %>
        </div>
      </div>
    </div>
  </div>
  <!-- template -->

  <div class="blog">
    <div class="container">
      <div class="row">
        <div class="blog-container">
          <div class="owl-blog" id="owl-blog">

            <% for (let postRelation of postRelations) { %>
            <!-- BLOG ITEM -->
            <div class="blog-item">
              <div class="blog-item-image">
                <% if (postRelation.image.url) { %>
                <img src="<%= postRelation.image.url %>" alt="" />
                <% } else { %>
                <img src="/images/no-image.jpg" alt="" />
                <% } %> </div>
              <div class="blog-item-title">
                <h3><a href="#"><%= postRelation.title %></a></h3>
              </div>
              <!--<div class="blog-item-author"><a href="#">by Dr. Kaeden Bernard</a></div>
                <div class="blog-item-text">Dental implant placement is no longer performed only by oral surgeons and periodontists; general dentists are also increasingly providing difficult surgical implant services. Dental implants may be used to replace single teeth, replace multiple teeth.</div>
                <div class="blog-item-button"><a href="#" class="btn btn-primary-1">READ MORE</a></div>-->
            </div>
            <% } %>
          </div>
          <!-- BLOG BUTTONS -->
          <div class="carousel-btn carousel-next" id="next-blog"><i class="fa fa-angle-right"></i></div>
          <div class="carousel-btn carousel-prev" id="prev-blog"><i class="fa fa-angle-left"></i></div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER
============================== -->
  <%- include partials/footer %>
  <!-- =========================
    END FOOTER
============================== -->
  <!-- =========================
      POPUP FORMS
      ============================== -->
  <%- include partials/bookform %>
  <%- include partials/alert %>
  <!-- =========================
        END POPUP FORMS
    ============================== -->

  <div class="totop" id="totop"> <i class="fa fa-angle-up"></i> </div>

  <!-- =========================
    COLOR SWITHER
============================== -->
  <!--<div class="color-sw-open" id="color-sw-open"> <i class="fa fa-gear"></i> </div>
<div class="color-sw" id="color-sw">
  <div class="color-sw-header"> Style switcher
    <span class="color-sw-close" id="color-sw-close">
      <i class="fa fa-close"></i>
    </span>
  </div>
  <div class="color-sw-body">
    <p>Choose color style</p>
    <div class="color-sw-item active" id="blue">
      <div></div>
    </div>
    <div class="color-sw-item" id="violet">
      <div></div>
    </div>
    <div class="color-sw-item" id="red">
      <div></div>
    </div>
    <div class="color-sw-item" id="green">
      <div></div>
    </div>
  </div>
</div>-->
  <!-- =========================
    END COLOR SWITHER
============================== -->

  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />


  <!-- MY JAVASCRIPT -->
  <%- include resources/javascript %>

  <!-- GOOGLE MAPS -->


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


</body>

</html>