<!-- =========================
     TOP BAR
============================== -->
<div class="top-bar" id="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="top-bar-adress"> <i class="flaticon-navigation-arrow"></i><%= header.addressText %></div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="top-bar-social">
          <a id="lang-vi" href="#">vi-VN</a>
          <div style="width: 2px; display: inline-block;"></div>
          <a id="lang-en" href="#">en-US</a>
        </div>
        <div class="top-bar-social"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#">
            <i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i
              class="fa fa-skype"></i></a> </div>
        <div class="top-bar-mail">
          <i class="fa fa-envelope"></i> 
          <a id="lang-vi" href="#">vietdent@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header" id="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="header-logo"> <a href="/"><img src="/images/logo.svg" alt="" />
            <span class="bold600 color-child-6">
              <%= header.titleText1.toUpperCase() %>
            </span>
            <span class="color-child-6">
              <%= header.titleText2.toUpperCase() %>
            </span>
          </a> </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="header-button"> <a href="#bookform1" class="fancybox-2 btn btn-default">
            <span class="plus">
              +
            </span>
            <%= header.bookingText.toUpperCase() %></a> </div>
        <div class="header-phone"> <i class="fa fa-phone"></i> <%= header.phoneNumber %> </div>
      </div>
    </div>
  </div>
</div>
<div class="top-menu" id="top-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="mobile-bar-cont">
          <div class="top-menu-logo"> <a href="/"><img src="images/logo.svg" alt="" />
              <span class="bold600 color-child-6">
                DENTAL
              </span>
              <span class="color-child-5">
                CLINIC
              </span>
            </a> </div>
          <div class="mobile-bar">
            <div class="show-menu" id="show-menu"> <i class="fa fa-bars"></i> </div>
            <div class="color-sw-open-1" id="color-sw-open-1"> <i class="fa fa-gear"></i> </div>
          </div>
        </div>
        <ul class="nav navbar-nav">
          <!-- DEFAULT CATEGORY -->
          <li class="<%= section === 'home' ? 'active' : '' %>"><a href="/"><%= header.homeText.toUpperCase() %></a></li>

          <% for (let i = 0; i < categories.length; i++) { %>
          <li class="
                <%= section === categories[i].parent.id ? 'active' : '' %>
                <%= categories[i].children ? 'dropdown' : '' %>
              ">
            <a data-toggle="<%= categories[i].parent.type === 'title' ? 'dropdown' : '' %>"
              href="<%= converter.getUrlCategory(categories[i].parent, categories[i].parent) %>">
              <%= categories[i].parent.name.toUpperCase() %></a>
            <% if (categories[i].children) { %>
            <ul class="dropdown-menu with-bg" role="menu">
              <% for (let j = 0; j < categories[i].children.length; j++) { %>
              <% var category = categories[i].children[j] %>
              <li>
                <a href="<%= converter.getUrlCategory(categories[i].children[j], categories[i].parent) %>">
                  <%= category.name %></a>
              </li>
              <% } %>
            </ul>
            <% } %>
          </li>
          <% } %>

          <!-- DEFAULT CATEGORY -->
          <li class="<%= section === 'contact' ? 'active' : '' %>"><a href="/contact"><%= header.contactText.toUpperCase() %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- =========================
     END MAIN MENU
============================== -->